.img1 {
margin: auto;
 width: 50px;
 height: 50px;
}
.img2 {
   text-align: center;
    width: 50px;
    height: 50px;
}

header {
    text-align: center;
    background-color: black;
    margin: auto;
    padding: 50px;
}

footer {
    margin: auto;
    text-align: center;
    background-color: black;
    padding: 50px;
}
